/* header and nav layout */
header .nav-wrapper {header nav .nav-sections .nav-drop::after
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1264px;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (min-width: 600px) {
  header nav {
    padding: 0 2rem;
  }
}

@media (min-width: 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (min-width: 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded="true"] .nav-sections {
  display: flex;
  visibility: visible;
  align-self: start;
  justify-content: space-between;
}

header nav .nav-sections ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}


.nav-wrapper {
    background: linear-gradient(270deg, #1B1B1B 55.84%, #202020 96.63%);
}

.nav-wrapper .nav-sections ul {
    background: var(--black);
    border-radius: 24px;
    align-items: center;
}

.nav-wrapper .nav-sections ul li {
    /* margin: 0px; */
    /* line-height: 2.5; */
    font-size: 12px;
    color: white;
}

.nav-wrapper .nav-sections ul li a {
    padding: 10px 20px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    border-radius: 20px;
}


@media (min-width: 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
     position: relative; 
     padding-right: 16px; 
    cursor: pointer; 
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: .5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--highlight-background-color);
    white-space: initial;
  }

  header nav .nav-sections > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--highlight-background-color);
  }

  header nav .nav-sections > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}


header nav {
    max-width: 1575px;
}

.nav-wrapper .nav-sections ul li a:hover {
    font-weight: inherit;
    background: rgba(157, 29, 39, 0.3);
    color: #FFFFFF;
}

.nav-wrapper .nav-sections ul:last-child {
    background-color: transparent;
}

header nav .nav-sections .nav-drop::after {
    color: var(--idfc-red);
    top: 5px;
}

.header .nav-wrapper nav .nav-sections:nth-child(3) ul li {
    margin-right: 10px;
}

.header .nav-wrapper nav .nav-sections:first-child ul li {
    margin-right: 0;
}

.header .nav-wrapper nav .nav-sections:nth-child(3) ul li:last-child {
    margin-right: 0;
}

header nav .nav-sections>ul>li>ul::before {
    display: none;
}

.nav-sections ul .nav-drop ul {
    background-color: var(--black);
}

.nav-wrapper .nav-sections ul:last-child .nav-drop ul {
    background-color: var(--black);
    border-radius: 0;
    color: var(--white);
    z-index: -1;
}

header nav .nav-brand img {
    width: auto;
    height: 36px;
}

.nav-wrapper #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-sections em a {
    text-decoration: none;
    color: var(--idfc-red);
    background-color: var(--white);
    padding: 7px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
}

header nav a:any-link {
    color: var(--idfc-red);
}
.nav-sections em a:hover {
    background-color: var(--idfc-red);
    color: var(--white);
}

.nav-tools em a {
    text-decoration: none;
    color: var(--idfc-red);
    background-color: var(--white);
    padding: 7px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
}

.nav-tools em a:hover {
    background-color: var(--idfc-red);
    color: var(--white);
}
.header .nav-wrapper #nav .nav-tools p:last-child {
    display: none;
}
@media screen and (min-width:900px) {
    header nav .nav-sections ul {
        gap: 5px;
    }
}


@media screen and (max-width:768px) {
    main .section.secondary-nav-section-wrapper {
        display: none;
    }

    .nav-wrapper {
        background: var(--white);
    }

    .header .nav-wrapper nav .nav-sections:nth-child(3) ul li {
        margin-right: 0;
    }

    .nav-wrapper nav#nav .nav-tools p em a {
        font-size: 12px;
        font-weight: 600;
        border: solid 1px;
        padding: 8px 15px;
        margin-left: 15px;
        line-height: 1.2;
        background: var(--white);
        color: var(--idfc-red);
        border-radius: 25px;
    }

    header nav .nav-hamburger button {
        color: var(--idfc-red);
    }

    header nav .nav-hamburger {
        order: 3;
    }

    .nav-wrapper #nav[aria-expanded="true"] {
        flex-direction: column;
        padding: 0;
    }

    header nav[aria-expanded="true"] .nav-sections {
        flex-direction: column;
        justify-content: unset;
    }

    .nav-wrapper .nav-sections ul {
        display: flex;
        flex-wrap: wrap;
        border-radius: 0;
    }

    header nav[aria-expanded="true"] .nav-brand {
        flex-basis: auto;
        padding: 15px 15px 0 15px;
        display: flex;
        width: -webkit-fill-available;
    }

    header nav[aria-expanded="true"] .nav-hamburger {
        order: unset;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .nav-wrapper .nav-sections ul li {
        color: var(--black);
    }

    .nav-wrapper .nav-sections ul:last-child .nav-drop ul {
        display: none;
    }

    header nav[aria-expanded="true"] .nav-tools {
        display: none;
    }

    header nav[aria-expanded="true"] .nav-sections p em a {
        display: none;
    }

    .nav-wrapper .nav-sections ul:last-child {
        flex-direction: column;
        align-items: initial;
    }

    .nav-wrapper .nav-sections ul:last-child li {
        padding: 20px 15px;
        position: relative;
        background: #f3f3f3;
        border-bottom: 1px solid #d8d8d8;
        font-size: 14px;
        color: #222;
    }

    header nav[aria-expanded="true"] .nav-sections ul .nav-drop::after {
        content: "";
        border: 2px solid var(--idfc-red);
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin: 0 5px;
        position: absolute;
        top: 29px;
        right: 20px;
    }

    h3#guided-by-ethics-powered-by-technologyand-a-force-for-social-good {
        font-size: 16px;
    }

    h2#a-world-class-bank-in-india {
        font-size: 20px;
        line-height: 1.2;
    }

    .header .nav-wrapper #nav .nav-tools p:last-child {
        display: block;
    }

    header nav[aria-expanded="false"] .nav-tools {
        display: flex;
    }

    #guided-by-ethics-powered-by-technology-and-a-force-for-social-good {
        font-size: 16px;
    }

    .hero-section-wrapper .columns-img-col picture {
        top: unset;
        left: -62px;
        z-index: -1;
    }

    .columns-wrapper:nth-child(2) picture {
        left: unset;
    }

    #enjoy-zero-charges-on-28-commonly-used-savings-account-services {
        font-size: 18px;
        line-height: 1.3;
    }

    main .section.hero-section-wrapper {
        padding: 50px 15px;
    }

    .hero-section-wrapper .columns-wrapper .columns div:nth-child(2) {
        max-width: 199px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        position: relative;
        left: 41%;
    }

    .bank-card-slider-wapper .cards-wrapper .cards.block ul {
        flex-direction: column;

    }

    .bank-card-slider-wapper .cards-wrapper .cards.block ul li {
        width: 100%;
    }
    .bank-card-slider-wapper .cards-wrapper .cards.block ul li .cards-card-image{
        flex: 0 0 70px;
        width: auto;
        height: auto;
    }
    .section.bank-card-slider-wapper{
        margin: 20px 15px;
    }
    .section.bank-card-slider-wapper .default-content-wrapper #ways-to-bank{
        font-size: 20px;
    }
    .section.bank-card-slider-wapper .default-content-wrapper p{
        font-size: 14px;
    }
    .section.bank-card-slider-wapper .button-container .button.primary{
        font-size: 12px;
    }

    .get-more-from-bank-wapper .cards-wrapper .cards ul {
        flex-direction: column;
    }

    .get-more-from-bank-wapper .cards-wrapper .cards ul li {
        margin: 0;
    }

    .get-more-from-bank-wapper .cards-wrapper .cards ul li .cards-card-body p strong {
        font-size: 18px;
    }

    .get-more-from-bank-wapper .cards-wrapper .cards.block ul li .cards-card-image {
        flex: 0 0 70px;
    }

    .get-more-from-bank-wapper .default-content-wrapper h2#get-more-from-your-bank {
        font-size: 20px;
    }

    .section.get-more-from-bank-wapper {
        margin: 20px 15px;
    }

    .section.get-more-from-bank-wapper .button-container .button.primary {
        font-size: 12px;
    }
    .section.in-the-spotlight-wrapper{
        margin: 20px 15px;
        background-position: 160px 22px;
    }
    .in-the-spotlight-wrapper .default-content-wrapper h2#in-the-spotlight{
        font-size: 20px;
    }
    .in-the-spotlight-wrapper .default-content-wrapper p{
        font-size: 14px;
    }
    .in-the-spotlight-wrapper .cards-wrapper .cards ul{
        flex-direction: column;
    }
    .in-the-spotlight-wrapper .cards-wrapper .cards ul li{
        margin-right: 0;
    }
    .section.customer-speak .cards-wrapper .cards ul{
        flex-direction: column;
    }
    .section.customer-speak{
        margin: 20px 15px;
    }
    .customer-speak .default-content-wrapper .button-container a.button.primary{
        font-size: 12px;
    }
    .customer-speak .default-content-wrapper .button-container a.button.primary::after{
        padding: 2px;
    }
    .section.bank-card-slider-wapper .default-content-wrapper .button-container .button.primary::after{
        padding: 2px;
    }
    .section.get-more-from-bank-wapper .default-content-wrapper .button-container .button.primary::after{
        padding: 2px;
    }
}
