Fmain .carousel-container {
    padding: 0;
  }
  
  main .carousel {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow: scroll hidden;
    scroll-behavior: smooth;
    max-width: 1680px;
    margin: auto;
    height: 200px;
    gap:14px;
  }
  

  main .carousel img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 90%;
  }
    
  main .carousel > div {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
    position: relative;
    min-height: 580px;
    align-items: flex-end;
    display: flex;
  }
  
  main .carousel div.carousel-text {
    max-width: 1200px;
/*     margin: 0 auto; */
    background-color: transparent;
    min-height: 120px;
    padding: 0px;
    margin:0px;
  }

main .carousel div.carousel-text p:nth-child(1) {
/*     margin: 10px 0 16px; */
    line-height: 1.2;
    font-size: 24px;
  }
  
  main .carousel div.carousel-text p:nth-child(2) {
/*     margin: 10px 0 16px; */
    line-height: 1.2;
    font-size: 14px;
    color:#464646;
    max-width:250px;
  }
  
  main .carousel div.carousel-text h2 {
    margin: 0;
    margin-top: 16px; 
  }
  
  main .carousel div.carousel-text .button {
    margin: 0;
  }
    
  
  main .carousel::-webkit-scrollbar {
      display: none;
    }
  
  main .carousel-wrapper {
    max-width: unset;
  }
  
  main .hero-section-wrapper .carousel-wrapper .carousel-buttons {
    text-align: center;
    margin-top: 0;
    position: absolute;
    display: flex;
    right: 141px;
    left: 0;
    justify-content: right;
    bottom: 10px;
  }
  
  main .get-more-from-bank-wapper .carousel-wrapper .carousel-buttons {
    text-align: center;
    margin-top: 0;
    position: absolute;
    display: flex;
    right: 141px;
    left: 0;
    justify-content: center;
  }
  
  main .carousel-buttons button {
    display: block;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 5px;
    border-radius: 50%;
    background-color: var(--highlight-background-color);
  }
  
  main .section.hero-section-wrapper .carousel-wrapper .carousel{
    height: 255px;
  }
  .hero-section-wrapper .carousel-wrapper {
    margin: auto;
    max-width: none;
  }    
  
  
  
  .hero-section-wrapper .carousel-wrapper {
    max-width: unset;
  }
  
   .carousel {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow: scroll hidden;
    scroll-behavior: smooth;
    max-width: 1680px;
    margin: auto;
  }
  
  
  .hero-section-wrapper .carousel-wrapper .carousel div {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
    position: relative;
    min-height: 580px; 
    align-items: flex-end;
    display: flex;
  }

  
  .carousel img {
    object-fit: cover;
    /* width: 100%; */
    height: 100%;
    /* object-position: 90%; */
  }
  
  .hero-section-wrapper .carousel-wrapper .carousel div .carousel-image picture img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  
  .carousel div.carousel-text {
      max-width: 1200px;
      margin: 0 auto;
      background-color: transparent;
      min-height: 188px;
      padding: 0 28px;
  }
  
  
  main .carousel-buttons button.selected {
    background-color: var(--link-color);
  }
  
  
  .hero-section-wrapper .carousel-wrapper {
    margin: auto;
    max-width: none;
  }    
  
  
  
  .hero-section-wrapper .carousel-wrapper {
    max-width: unset;
  }
  
   .carousel {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow: scroll hidden;
    scroll-behavior: smooth;
    max-width: 1680px;
    margin: auto;
  }
  
  
  .hero-section-wrapper .carousel-wrapper .carousel div {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
    position: relative;
  /*   min-height: 580px; */
    align-items: flex-end;
    display: flex;
    height:240px;
  }
  .hero-section-wrapper .carousel-wrapper .carousel div .carousel-image picture {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    height: 240px;
  }
  
  .carousel img {
    object-fit: cover;
    /* width: 100%; */
    height: 100%;
    /* object-position: 90%; */
  }
  
  .hero-section-wrapper .carousel-wrapper .carousel div .carousel-image picture img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  
  .carousel div.carousel-text {
      max-width: 1200px;
      margin: 0 auto;
      background-color: transparent;
      min-height: 188px;
      padding: 0 28px;
  }
  
   .hero-section-wrapper .columns-img-col picture {
        top: unset;
        left: -62px;
        z-index: -1;
    }
  
    .hero-section-wrapper .columns-wrapper .columns div:nth-child(2) {
      max-width: 199px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: end;
      position: relative;
      left: 41%;
  }
  
  
  main .section.hero-section-wrapper {
    padding: 0;
    height: 250px;
  }
  
  
  .section.hero-section-wrapper {
      background: linear-gradient(94.07deg, #9B1E26 -17.35%, #000000 83.2%);
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
      height: 137px;
      position: relative;
    }
  
    .section.hero-container {
      position: absolute;
      z-index: 999;
    }
  
    main .hero img {
      left: 0;
      position: absolute;
      top: 20%;
    }
  
    .hero-section-wrapper .carousel-wrapper .carousel .carousel-text{
        position: absolute;
        top: 0;
        display: block;
        right: 400px;
        background: transparent;
        color: white;
        max-width: 47%;
    }
        
  
  .section.hero-section-wrapper.columns-container {
      position: relative;
    }
  
  /*   main .section.hero-section-wrapper {
      padding: 64px 0;
    } */

.get-more-from-bank-wapper .carousel-wrapper .carousel div:nth-child(1) .carousel-image{
    background: transparent;
}
.get-more-from-bank-wapper .carousel-wrapper .carousel div:nth-child(1) .carousel-text{
    background: transparent;
}
.get-more-from-bank-wapper .carousel-wrapper .carousel div:nth-child(2) .carousel-image{
    background: transparent;
}
.get-more-from-bank-wapper .carousel-wrapper .carousel div:nth-child(2) .carousel-text{
    background: transparent;
}
.get-more-from-bank-wapper .carousel-wrapper .carousel div:nth-child(3) .carousel-image{
    background: transparent;
}
.get-more-from-bank-wapper .carousel-wrapper .carousel div:nth-child(3) .carousel-text{
    background: transparent;
}
.get-more-from-bank-wapper .carousel-wrapper .carousel div:nth-child(4) .carousel-image{
    background: transparent;
}
.get-more-from-bank-wapper .carousel-wrapper .carousel div:nth-child(4) .carousel-text{
    background: transparent;
}



      
  
